@charset "UTF-8";

/* 슬라이드 */

	/* 브라우저 마진과 패딩 리셋 */
	* {margin:0;padding:0;}

	/* INPUT 가리기 */
	.section input[id*="slide"] {display:none;}

	/* 슬라이드 영역 - max-width 크기를 조절해주면 됩니다*/
	.section .slidewrap {max-width:1200px;margin:0 auto;overflow:hidden;}
	.section .slidelist {white-space:nowrap;font-size:0;}
	.section .slidelist > li {display:inline-block;vertical-align:middle;width:100%;transition:all .5s;}
	.section .slidelist > li > a {display:block;position:relative;}
	.section .slidelist > li > a img {width:100%;}

	/* 좌우로 넘기는 LABEL버튼에 대한 스타일 */
	.section .slidelist label {position:absolute;z-index:1;top:50%;transform:translateY(-50%);padding:50px;cursor:pointer;}
	.section .slidelist .left {left:30px;background:url('left.png') center center / 100% no-repeat;}
	.section .slidelist .right {right:30px;background:url('right.png') center center / 100% no-repeat;}

	/* INPUT 체크되면 변화값이 li까지 전달되는 스타일 */
	.section input[id="slide01"]:checked ~ .slidewrap .slidelist > li {transform:translateX(0%);}
	.section input[id="slide02"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-100%);}
	.section input[id="slide03"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-200%);}
	

/*------------------*/
.allcontainer{
	overflow:auto;
	scroll-snap-type: y mandatory;
	height: 100vh;
}
header{scroll-snap-align:start;}
section{scroll-snap-align:center;}
footer{scroll-snap-align:end;}
section , header , footer{
	width:1400px;
	margin:0 auto;
	height: 101vh;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
header{
   background-image: url("../img/header.jpg");
}
header h1{
   font-size: 7rem;
   text-align: center;
   color:ghostwhite;
   margin: 0 15px 5rem 10px;
   padding-top: 90px;}   
.circle{display: flex;
      width:100%;
      justify-content: space-evenly;
      padding-top: 35rem;}
.circle_img{display: flex;
         flex-direction: column;}   
.circle img{border-radius: 50%;
         width: 8rem;
         height: 8rem;
         border: 5px double  #ccc3b9;}
.circle_img h6{color:white;}
.title{display: flex; color:white; justify-content:space-around;}
.title h6{position: relative;}
.camel{left: 0.5rem;}
.fire{left: -1.5rem;}
.over{left: -3.5rem;}
.stay{left: -3rem;}
.haha{left: -2rem;}
.hwa{left: -1rem;}
/*은시7--------------------------------------------------------------*/
.seven{
   background-color: white;
   text-align: center;
   position: relative;
   font-size: 20px;
}

.seven_imgbox{
   text-align: right;
   padding-top: 200px;
   position: relative;
   
}

.seven_imgbox h2{
   position: absolute;
   top: 150px;
   font-size: 100px;
   -webkit-text-stroke: 1px #db0215;
   color: white;
}

.seven_imgbox h2:hover{
   color: #db0215;
   -webkit-text-stroke: #e0b0ad;
}

.seven_imgbox p{
   position: absolute;
   top: 200px;
   color: #ffd806;      /* 왜 글씨에는 안먹고 하트에만 먹히지? 복붙해와서 그런가 */
   text-align: left;
}


.seven_img1{
   border-radius: 50% 0 0 50%;
   z-index: 1;
   position: absolute;
   left: 400px;
}

.seven_img2{
   z-index: 2;
   padding-right: 20px;
   border-left: solid 8px white;
}

.seven_textbox{
   position: absolute;
   top: 300px;
   text-align: left;
}

.two_textbox p{
   line-height: 180%;
   font-size: 16px;
}

.seven_textbox ul{
   padding-top: 20px;
   line-height: 200%;
}

.map7{
   width: 300px;
   height: 140px;
   background-image: url("../img/위치_배경.jpg");
   box-shadow: 0 0 0 2px #dccbc5;
}

.map7 p{
   padding-top: 30px;
   text-align: center;
   vertical-align: middle;
}
/*은시8--------------------------------------------------------------*/
.eight{
   background-color: white;
   text-align: center;
   position: relative;
   font-size: 20px;
}

.eight_imgbox{
   text-align: right;
   padding-top: 200px;
   position: relative;
   
}

.eight_imgbox h2{
   position: absolute;
   top: 150px;
   font-size: 100px;
   -webkit-text-stroke: 1px #db0215;
   color: white;
}

.eight_imgbox h2:hover{
   color: #db0215;
   -webkit-text-stroke: #e0b0ad;
}

.eight_imgbox p{
   position: absolute;
   top: 200px;
   color: #ffd806;      /* 왜 글씨에는 안먹고 하트에만 먹히지? 복붙해와서 그런가 */
   text-align: left;
}


.eight_img1{
   border-radius: 50% 0 0 50%;
   z-index: 1;
   position: absolute;
   left: 400px;
}

.eight_img2{
   z-index: 2;
   padding-right: 20px;
   border-left: solid 8px white;
}

.eight_textbox{
   position: absolute;
   top: 300px;
   text-align: left;
}

.eight_textbox p{
   line-height: 180%;
   font-size: 16px;
}

.eight_textbox ul{
   padding-top: 20px;
   line-height: 200%;
}

.map8{
   width: 300px;
   height: 140px;
   background-image: url("../img/위치_배경.jpg");
   box-shadow: 0 0 0 2px #dccbc5;
}

.map8 p{
   padding-top: 30px;
   text-align: center;
   vertical-align: middle;
}

/*-------------------------------------------------------------*/
footer{
	background: #996b5c;
	text-align: center;
	padding: 3rem;
	height: 20vh;
}
footer ul{
	display: flex;
	justify-content: center;
	margin: 0.7rem 0 1rem 0;
}
footer li{margin: 0 12px;}
footer a{color: #fff;}
footer a:hover{color: #c7c3ba;}
footer small{color:#c7c3ba; font-size: .875rem;}