@charset "UTF-8";
header{
	scroll-snap-align: start;
	height: 101vh;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url("../img/main.png");
}
header h1{
	font-size: 15rem;
	text-align: center;
	color: #996b5c;
	margin: 0 0 30rem 0;}	
.circle{display: flex;
		width:100%;
		justify-content: space-between;}
.circle_img{display: flex;
			flex-direction: column;}	
.circle img{border-radius: 50%;
			width: 8rem;
			height: 8rem;
			border: 0.5rem solid #996b5c;}
.circle_img h6{color:white;}
.tarr{position:relative; left: 0.2rem;}
.pie{position:relative; left: 1rem;}


.over{position:relative; right: 0.2rem;}
.stay{position:relative; left: 1.2rem;}
.haha{position:relative; left: 0.3rem;}
.hwa{position:relative; left: 1.5rem;}
.container{
	overflow: auto;
	scroll-snap-type: y mandatory;
	height: 100vh;
}

section{
	scroll-snap-align: center;
	height: 101vh;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
/*제목---------------------------------------------------*/
h1{
	font-size: 5rem;
	text-align: left;
	color: #996b5c;
	height: 10vh;
	background-color: black;
}
/*seven.diddid-------------------------------------------*/

.diddid {
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 0% 0% 78% 7%;
}
.diddid img{width: 30vw; padding: 10px; border-radius: 50%;}

.diddid p{  
	font-size: 20px; font-weight: bold;
	line-height: 50px;
	color: #996b5c;
	}
/*eight.dlscjs-------------------------------------------*/
.dlscjs{display: flex; justify-content: center; background-color: black;}
.dlscjs img{width: 30vw; padding: 10px; border-radius: 94px;}
.dlscjs p{font-size: 20px; font-weight: bold; line-height: 50px; color: white;} 


.fa-twitter{color:#1c9cea;}
.fa-facebook{color:#1773ea;}
.fa-youtube{color:#f31c1b;}
.fa-square-instagram{color:#fb007f;}

footer{
	scroll-snap-align: end;
	background: #996b5c;
	text-align: center;
	padding: 3rem;
	height: 20vh;
}
footer ul{
	display: flex;
	justify-content: center;
	margin: 0.7rem 0 1rem 0;
}
footer li{margin: 0 12px;}
footer a{color: #fff;}
footer a:hover{color: #c7c3ba;}
footer small{color:#c7c3ba; font-size: .875rem;}