@charset "UTF-8";

.allcontainer{
	height: 100vh;
	scroll-snap-type: y mandatory;
}
header{scroll-snap-align:start;}
section{scroll-snap-align:center;}
footer{scroll-snap-align:end;}
section , header , footer{
	width:1400px;
	margin:0 auto;
	height: 101vh;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

header{
	background-image: url("../img/main.png");
}
header h1{
	font-size: 15rem;
	text-align: center;
	color: #996b5c;
	margin: 0 0 5rem 0;}	
.circle{display: flex;
		width:100%;
		justify-content: space-around;}
.circle_img{display: flex;
			flex-direction: column;}	
.circle img{border-radius: 50%;
			width: 8rem;
			height: 8rem;
			border: 0.5rem solid #996b5c;}
.circle_img h6{color:white;}
.title{display: flex; color:white; justify-content:space-around;}
.title h6{position: relative;}
.camel{left: 0.5rem;}
.fire{left: -1.5rem;}
.over{left: -3.5rem;}
.stay{left: -3rem;}
.haha{left: -2rem;}
.hwa{left: -1rem;}
















.fa-twitter{color:#1c9cea;}
.fa-facebook{color:#1773ea;}
.fa-youtube{color:#f31c1b;}
.fa-square-instagram{color:#fb007f;}

footer{
	background: #996b5c;
	text-align: center;
	padding: 3rem;
	height: 20vh;
}
footer ul{
	display: flex;
	justify-content: center;
	margin: 0.7rem 0 1rem 0;
}
footer li{margin: 0 12px;}
footer a{color: #fff;}
footer a:hover{color: #c7c3ba;}
footer small{color:#c7c3ba; font-size: .875rem;}